@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.card {
  max-width: 32rem;
  display: grid;
  gap: 1.2rem;
  padding: 1.6rem;
  border-radius: 24px;
  text-align: center;
  background-color: var(--white);
}

.qr-code {
  width: 100%;
  border-radius: 9px;
}

.text-box {
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}

.title {
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  color: var(--dark-blue);
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}
